@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');
body{
    background: black;
}


#okno {
    box-sizing: border-box;
    position: fixed;
    opacity: 1;
    padding: 0;
    margin: 0;
    width: 900px;
    z-Index: 1000;
    color: white;
    background:#242430;
    background-size: cover;
    border-radius: 20px;
    height: 550px;
}

.b_button{
    background-color: #4d4b63; /* Green background */
    border: 1px solid #1a1929; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100px; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Texturina', serif;
  }
  .navbar{
  width: 100%;
  position: absolute;
    top: 128px;
  }
  button.b_button:hover {
    background: #606478;
    width: 120px;
    transition: 0.3s;
}
#b_content {
    position: absolute;
    width: 675px;
    height: 511px;
    bottom: 0;
    left: 225px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 13px;
}
div#head {
    text-align: center;
    background-color: #4d4b63;
    height: 27px;
    padding: 3px;
    margin-top: 0px;
    padding-top: 11px;
    position: absolute;
    top: 0px;
    left: 225px;
    width: 669px;
    border-top-right-radius: 20px;
    z-index: 1;
}
div#menu {
    width: 225px;
    height: 451px;
   
}
#lic
{
    width: 225px;
    height: 100px;
    background-color: #49475e;
}
