body {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    background: #252735;
    color: white!important;
}

#container {
    background-color: #2a3142!important;
}
.bg-white
{
    background-color:#2a3142!important;
}
a{
    color:white!important;
}
.dropdown-menu
{
    background-color:#2a3142;
    border-radius: 10px!important;
}
a:hover
{
    background-color:#626ed4!important;
    border-radius: 10px!important;
}
.btn-success {
    color: #fff;
    background-color: #626ed4!important;
    padding: 0.25rem!important;
    border-color: #626ed4!important;
}
.table tbody tr td:nth-child(5):before
{

content: url(https://erenw146.github.io/MargoCSS/wbijam/dsico.png);

}