@import url('https://db.onlinewebfonts.com/c/10de8f4b826dee00ba03a15f1cec75e8?family=Gomme+Sans');
@import url('https://pro.fontawesome.com/releases/v5.8.2/css/all.css');
  body
  {
      font-family: Gomme Sans;
  }


#panel
{
    background:url(./panelv3.png);
}
#stats
{
    background: url(./Stat.png);
    font-family: Gomme Sans;
    left:395px!important;
    display: none;
    top: 0px!important;
}
.dmg-stat {
    font-size: 10px;
}
.stats-row {
    position: relative;
    TOP: 6PX;
}
#leorn1, #leorn2
{
    display:none;
}
#skillSwitch.third 
{
   background: url(./umki.png)0 -64px;
}
#skillSwitch.first
{
    background: url(./umki.png)0 0;
}
#skillSwitch.second
{
    background: url(./umki.png)0 -32px;
}

.MM-battleset-switch-button {display: inline-block;
    width: 36px;
    height: 13px;
    background-image: url(./cum.png);
    margin-right: 3px;cursor: pointer;
}
#buttons, #b_quests, #b_help, #b_matchmaking, #b_recipes, #b_clans, #b_pvp, #b_config, 
#b_map, #b_skills,#b_friends, #b_addons, #helpbut, #logoutbut, #bchat,#b_news
 {
     background-image: url(./xd.png) !important;
     cursor:pointer;
}
#b_help
{
    display: none;
}
#buttons
{
    left:155px;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #d0c503; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  #quest-log-window
  {
      background: url(./questy.png);
  }
  span.q_title {
    font-family: Gomme Sans;
    color: #fbfbfb;
  }
  .q_bring, .q_doit, .q_kill {
    font: normal 13px Georgia;
    display: block;
    color: #d0c503;
    padding-left: 5px;
    font-family: Gomme Sans;
  }
  .q_kill {
    color: #db0000;
}
#quest-log-window .quest-log-close-but
{
    background: url(./x.png);
}
.closebut
{
    background: url(./x.png);
}
#chat.left, #chattabs.left, #chat.left #chattabs s
{
    background-image: url(./chat.png);
    background-color: transparent;
}
#tip-o1,#tip-o2
{
  background:none;
}
#tip
{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #121930;
    font-family: Gomme Sans;
    font-weight: bolder;
    background: #121930;
    border-color: #d0c503;
    color: #c8c400;
    text-shadow: 1px 1px #1a1a1a;
}
#tip.t_item {
    background: #121930;
    border-color: #d0c503;
    color: #c8c400;
    text-shadow:1px 1px #1a1a1a;
}
#tip.t_item B {
    color: #fefe08;
}
#tip.t_item B.att {
    color: #07e3c7;
}

#kontener {
    position: absolute;
    background-color: #121930;
    height: 530px;
    width: 40px;
    left: 792px;
    padding: 4px;
    text-align: center;
    font-size: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 2px solid #d0c503;
    border-bottom: 2px solid #d0c503;
    border-top: 2px solid #d0c503;
    top: -2px;
}
#mainstat {
    height: 26px;
    width: 103px;
    position: absolute;
    top: -64px;
    background-image: url(https://i.imgur.com/uxUXYaB.png);
}
/*MENU*/
#ikona1:hover,
#ikona2:hover,
#ikona3:hover,
#ikona4:hover,
#ikona5:hover,
#ikona6:hover,
#ikona7:hover,
#ikona8:hover,
#ikona9:hover,
#wyloguj:hover {
    transition: 0.3s;
    color: #d0c503;
    transform: scale(1.2);
    cursor: pointer;
    -webkit-text-stroke-color: #121930;
    background-color: #121930;
}
#ikona1,
#ikona2,
#ikona3,
#ikona4,
#ikona5,
#ikona6,
#ikona7,
#ikona8,
#ikona9 {
    position: relative;
    background-color: #5c5c1f;
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 10px;
    color: #121930;
    -webkit-text-stroke: 0.6px;
    -webkit-text-stroke-color: #d0c503;
    cursor: pointer;
}

i.fas,i.far {
   padding-top: 8px;
   padding-bottom: 8px;
   cursor: pointer;
}
#wyloguj
{
    position: relative;
    background-color: #ffffff33;
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 10px;
    top: 74px;
}
#ni-promo
{
    display: none!important;
}
#buttons {
    display: none!important;
}
#corners .border-u {
    top: -5px!important;
}
#corners .border-d {
    top: 535px!important;
    left: -7px!important;
    z-index: -1!important;
}
#shufflebutton,#startbutton,#hdbutton,#volumeSlider
{
    display: none;
}
.conf-title
{
    background-image: url(./nagconfig.png)!important;
}
#config
{
   background: url(./configt.png) no-repeat bottom center!important;
   height: 446px!important;
}
#config .right-save-buts {
    float: right;
    position: absolute;
    left: 234px;
    top: 404px;
}
#cfg_options DIV::before {
    background: url(./check.png) no-repeat top left;
}
.MM-battleset-switch {
    position: absolute;
    top: 245px;
    left: 147px;
}
#bottombar
{
    background: url(./dolchat.png);
}
#inpchat
{
    background: #121930!important;
}
#chat, #chattabs, #chat #chattabs s
{ 
    background-Image: url(./chatm.png);
}
#logoutbut
{
    display: none;
}
#pvpmode
{
    background-image: url(https://i.imgur.com/SwGzEFc.png);
}
#gold
{
    top: 87px;
    left: 670px;
}
#base3
{
    top:116px;
    left: 677px;
}
#stats
{
    top:160px;
    left: 660px;
}
#life1,#exp1,#life2,#exp2
{
    left:678px;
    height:10px;
}
#exp2
{
    background-image: url(./exp.png)!important;
    top: 58px;
}
#life2
{
    background-image: url(./hp.png)!important;
    top:47px;
}
#life1
{
    top: 46px;
}
#exp1
{
    top: 57px;
}

button#ZMIEN:hover {
    background: #121930;
    transition: 0.3s;
    color: #d0c503;
    cursor: pointer;
    -webkit-text-stroke-color: #121930;
    background-color: #121930;
    background-image: url(https://i.imgur.com/uxUXYaB.png);
}

button#ZMIEN {
    background: transparent;
    top: 167px;
    z-index: 301;
    position: absolute;
    width: 103px;
    height: 26px;
    border: none;
    left: 679px;
    color: white;
    background-image: url(https://i.imgur.com/uxUXYaB.png);
    font: bold 14px Gomme Sans;
}
#nick
{
    font: bold 14px Gomme Sans;
}
#addonspanel
{
    background:url(./DODATKI.png);
}
.gfont:before,.gfont:after,.gfont
{

    color: #d0c503;
}