@import url(//db.onlinewebfonts.com/c/10de8f4b826dee00ba03a15f1cec75e8?family=Gomme+Sans);
  body
  {
      font-family: Gomme Sans;
  }


#panel
{
    background:url(./panel.png)
}
#stats
{
    background: url(./Stat.png);
}
.stats-row {
    position: relative;
    TOP: 6PX;
}
#leorn1, #leorn2
{
    display:none;
}
#skillSwitch.second, #skillSwitch.first, #skillSwitch.third 
{
   background: url(./umki.png);
}
.MM-battleset-switch-button {display: inline-block;
    width: 36px;
    height: 13px;
    background-image: url(./cum.png);
    margin-right: 3px;cursor: pointer;
}