@import url(//db.onlinewebfonts.com/c/10de8f4b826dee00ba03a15f1cec75e8?family=Gomme+Sans);
  body
  {
      font-family: Gomme Sans;
  }


#panel
{
    background:url(./panel.png)
}
#stats
{
    background: url(./Stat.png);
}