#ikona1:hover,
#ikona2:hover,
#ikona3:hover,
#ikona4:hover,
#ikona5:hover,
#ikona6:hover,
#ikona7:hover,
#ikona8:hover,
#ikona9:hover {
    transition: 0.3s;
    background-color: green !important;
}

#ikona1,
#ikona2,
#ikona3,
#ikona4,
#ikona5,
#ikona6,
#ikona7,
#ikona8,
#ikona9 {
    position: relative;
    background-color: white;
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-bottom: 3px;
    cursor: pointer;

}

#kontener {
    position: absolute;
    background-color: red;
    height: 530px;
    width: 40px;
    left: 793px;
    padding: 4px;
}