@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background:#221d1d;
}
#okno {
    box-sizing: border-box;
    position: fixed;
    opacity: 1;
    padding: 0;
    margin: 0;
    width: 900px;
    z-Index: 1000;
    color: white;
    background:#00060e;
    background-size: cover;
    height: 550px;
    
}
.navbar {
    width: 100%;
    display: flex;
    margin-top: 23px;
    font-family: 'Roboto', sans-serif;

}
.b_button {
    width: auto;
    min-width: 82px;
    padding: 5px;
    height: auto;
    background: #00060e;
    color: #1d6797;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    margin-left: 18px;
    font-weight: bolder;
}
.b_nav_bar .b_button {
    border-radius: 0;
    width: 100%;
    float: left;
    opacity: 1;
}
#menu
{
    margin-left: 90px;
}
.b_button:active {
    color: #e2e3e5;
    border-bottom: 3px solid #1a6397;
  
}
.b_button:focus {
    color: #e2e3e5;
    border-bottom: 3px solid #1a6397;
    
}
.b_button:hover {
    color: #e2e3e5;
    border-bottom: 3px solid #1a6397;
    transition:0.5s;
}

#content {
    background: #000917;
    height: 446px;
    width: 870px;
    position: absolute;
    left: 15px;
    top: 75px;
    box-shadow: 1px 2px 7px rgb(12 57 84);
}
.close
{
    background-image: url(./bimg/x1.png);
    min-width: 16px;
    height: 16px;
    position: absolute;
    left: 816px;
    top: 27px;
}
.close:hover
{
    background-image: url(./bimg/x2.png);
    min-width: 16px;
    height: 16px;
    position: absolute;
    left: 816px;
    top: 27px;  
    outline: none;
    cursor: pointer;
    border:none;
}
.close:focus
{
    border:none;
}
#wersja
{
    width: 67px;
    font-size: 11px;
    padding: 2px;
    font-weight: bold;
    color: #874d44;
    position: absolute;
    top: 530px;
    left: 37px;

}
.konfig
{
    background-image: url(./bimg/s2.png);
    min-width: 24px;
    height: 24px;
    position: absolute;
    top: 27px;
    left: 634px;
}
.konfig:hover
{
    background-image: url(./bimg/s1.png);
    min-width: 24px;
    height: 24px;
    border:none;
}
.konfig:focus
{
    background-image: url(./bimg/s1.png);
  border:none;
}
img.logo1
{
    height: 65;
    position: absolute;
    top: -1px;
    left: 15px;

}
#licka
{
    width: 115px;
    font-size: 11px;
    padding: 2px;
    font-weight: bold;
    color: #874d44;
    position: absolute;
    top: 530px;
    left: 778px;

}
b.lic1
{
    color:#136398; 
}
.b_div_switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    text-align: center;
  }
  .b_div_switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .b_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bb3d39;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }
  
  .b_slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .b_slider {
    background-color: #136398;
  }
  
  input:focus + .b_slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .b_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .b_switch_content {
    display: flex;
    justify-content: space-around;
  }
  .b_slider:before{
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: -2px;
  bottom: 0px;
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
  filter: drop-shadow(0px 0px 1px white);
  border-radius: 20px;
}
.b_switch{
position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
input:checked+.b_type_slider {
    background-image: url(https://i.imgur.com/50Cqi8N.png);
}

input:checked+.b_slider {
    background: #0a6222;
    
}
#oniof
{
    position: relative;
    margin: auto;
    width: 700px;
    height: 50px;
    top: 18px;
    font-family: 'Roboto', sans-serif;
}
.b_back_cords, .b_names, .b_exp_ids, .b_back_ids, .b_map_area {
    resize: none;
    font-family: 'Roboto', sans-serif;
    background-color: #00060e;
    border-radius: 5px;
    border: 2px solid #0d4e90;
    color: #a3a6a9;
}
#nmob
{
    font-family: 'Roboto', sans-serif;
}
textarea::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px#5088b1;
  border-radius: 2px;
  background-color: #e2e3e5;
}

textarea::-webkit-scrollbar
{
  width: 12px;
  background-color: #e2e3e5;
}

textarea::-webkit-scrollbar-thumb
{
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px #5088b1;
  background-color: #5088b1;
}
.b_real_content, .b_mode_content
{
    display: grid;
    padding: 14px;
}
.b_transparent {
    font-weight: bold;
    color: #136398;
    border: none;
    background: transparent;
}
.b_back_cords, .b_names, .b_exp_ids, .b_back_ids, .b_map_area {
    border-radius: 2px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}
.b_real_content {
    width: 250px;
    position: absolute;
    top: 89px;
    left: 500px;
}
label.b_map_id_content {
    position: absolute;
    top: 135px;
    left: -487px
}
textarea.b_map_area {
    width: 173px;
    position: absolute;
    left: 85px;
}
button.b_id {
    border: none;
    background-color: #1b6494;
    width: 77px;
    height: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}
button.b_id:hover
{
    background-color: #e3e4e6;
    transition: 0.3s;
    border-radius: 4px;
}
.b_mode_content {
    position: absolute;
    top: 88px;
}
#exp
{
    font-family: 'Roboto', sans-serif;
}