.game-window-positioner .character_wrapper .equipment-wrapper {
    background: url(./img/eq.png) 0 -229px;
}

.layer.interface-layer .main-column.right-column {
    background: url(./img/tlo.png) -251px 0;
}

.game-window-positioner .inventory_wrapper .inventory-grid-bg
{
background:url(./img/eq.png)no-repeat -175px 0;

}
.b_wrapper
{
    display: none;
}
.game-window-positioner .inventory_wrapper .bags-navigation
{
    right: 95px;
    top: 207px;
    z-index: 1;
    background: url(./img/eq.png)no-repeat 0 -140px;
}