
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body
{
    font-family: 'Oswald', sans-serif!important;

}

.game-window-positioner .character_wrapper .equipment-wrapper {
    background: url(./img/eq.png) 0 -229px;
}

.layer.interface-layer .main-column.right-column {
    background: url(./img/tlo.png) -251px 0;
}

.game-window-positioner .inventory_wrapper .inventory-grid-bg
{
background:url(./img/eq.png)no-repeat -175px 0;

}
.b_wrapper
{
    display: none;
}
.game-window-positioner .inventory_wrapper .bags-navigation
{
    right: 95px;
    top: 207px;
    z-index: 1;
    background: url(./img/eq.png)no-repeat 0 -140px;
}
.game-window-positioner .inventory_wrapper .bags-navigation .item
{
    background: url(./img/eq.png) no-repeat -36px -181px
}
.layer.interface-layer .positioner.top .bg
{
    background: url(./img/xs.png) 0 -61px repeat;
}
.layer.interface-layer .positioner.bottom .bg
{
    background: url(./img/xs.png) 0 0 repeat;
}
.layer.interface-layer .positioner .bg
{
    height: 69px;
}
.game-window-positioner .character_wrapper .stats-wrapper
{
    background: url(./img/st.png);
}
.game-window-positioner .character_wrapper .stats-wrapper .header-title
{
    color:#121212;
    text-shadow: 0 0 1em #000, 0 0 0.2em #000;
}
.bottom-panel
{
background: url(./img/sprite.png) -6px -73px no-repeat;

}
.layer.interface-layer .positioner.top .hud-container
{
    background: url(./img/sprite.png) -7px 0;

}
.left-column .inner-wrapper .chat-tpl .right-tabs-wrapper .tab,
.left-column .inner-wrapper .chat-tpl .tabs-wrapper .tab {
    background: url(./img/ikonkic.png) -36px -36px;
}
.left-column .inner-wrapper .chat-tpl .more-players-wrapper .more-players {
    background: url(./img/ikonkic.png) no-repeat -99px 0;
}
.left-column .inner-wrapper .chat-tpl .more-players-wrapper .more-players:hover {
    background: url(./img/ikonkic.png) no-repeat -72px 0
}
.left-column .inner-wrapper .chat-tpl .send-btn
{
    background: url(./img/chat-s.png);
}
.button.green, .widget-button.green {
    background-image: linear-gradient(to top,#000000c7,#12a3d8);
}
.button.purple, .button.violet, .widget-button.purple, .widget-button.violet {
    background-image: linear-gradient(to top,#291930,#51F1B4);
}
.button.blink-violet, .widget-button.blink-violet {
    background-image: linear-gradient(to top,#291930,#51F1B4);
}
.layer.interface-layer .positioner.top .hud-container .hero-data .heroname {
    font-family: cursive;
}
.left-column .inner-wrapper .chat-tpl .chat-pannel
{
   border-image:url(./img/chatp.png) 0 111 0 104 round round;
}
.game-window-positioner .inventory_wrapper .bags-navigation .item:hover
{
    background: url(./img/chat-s.png) no-repeat 0 -105px;
}
.left-column .inner-wrapper .chat-tpl .messages-wrapper .under-tab-decor
{
    border-image: url(./img/chatg.png) 14 111 0 104 fill repeat round;
}
.left-column .inner-wrapper .chat-tpl .chat-pannel
{
    background-color: #063754;
}
.left-column .inner-wrapper .chat-tpl .input-wrapper
{
border-image: url(./img/chatd.png) 0 111 0 104 fill repeat round;
}
.right-column .inner-wrapper .battle-set-wrapper .battle-set-nr-0.active
{
    background: url(./img/btn.png) no-repeat -390px -709px;
}
.game-window-positioner .inventory_wrapper .bags-navigation .item.active .highlight
{
    background: url(./img/chat-s.png) no-repeat 0 -105px;
}